body {
  background-color: #f8f9fa;
}

.content {
  max-width: 1000px;
  margin-top: 1px;
}

.btn-tweet {
  border-radius: 30px;
}

.profile_container {
  width: 30px;
  max-width: 300px;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.img-fluid {
  max-height: 200px;
}

.tweet-element {
  border-radius: 0px;
  border-top: 0px;
  font-size: 14px;
}

.tweet-element:first-child {
  border-top: 1px solid #ddd;
}

.b {
  border: 1px solid red;
}

.b1 {
  border: 1px solid green;
}
